{erl_opts, [debug_info, {src_dirs, ["src", "bench"]}]}.
{deps, []}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{ex_doc, [
    {source_url, <<"https://github.com/roquess/erlCuda">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.

{pre_hooks, [
    {"win32", compile, "cd native\\erlcuda_nif && cargo build --release"},
    {"(linux|darwin)", compile, "sh -c 'cd native/erlcuda_nif && cargo build --release'"}
]}.

{post_hooks, [
    {"win32", compile,
     "if not exist priv mkdir priv && copy /Y native\\erlcuda_nif\\target\\release\\erlcuda_nif.dll priv\\erlcuda_nif.dll"},
    {"linux", compile,
     "sh -c 'mkdir -p priv && cp native/erlcuda_nif/target/release/liberlcuda_nif.so priv/erlcuda_nif.so'"},
    {"darwin", compile,
     "sh -c 'mkdir -p priv && cp native/erlcuda_nif/target/release/liberlcuda_nif.dylib priv/erlcuda_nif.dylib'"}
]}.
